---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <h1 align="center">About <span style="--col1:#2e9ee3;--col2:#ff3af8;" class="color-grad">Astro Team</span></h1>

    <hr>

    <br>
    <p align="center"><span style="--col2:#2e9ee3;--col1:#853aff;" class="color-grad">Astro Team</span> Is A <span style="--col1:#3596d3;--col2:#3a5eff;" class="color-grad">Geometry Dash</span> Creator Team Led By Lum1nGMD And MaskedToon.</p>
    
    <p align="center"><span style="--col1:#00b7ff;--col2:#aa3aff;" class="color-grad">Astro Team</span> Also Has Low Standards So Anybody Can Join!</p>

    <br>

    <hr>

    <br>

    <br>

    <br>

    <hr>

    <Footer/>

</Layout>

<style>
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: transparent;
}

.color-grad {
    background: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>