---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout>

<h1 align="center"><span style="--col1:#2e9ee3;--col2:#ff3af8;" class="color-grad">Astro Team</span></h1>

<br>

<p align="center"><strong><span style="--col1:#3596d3;--col2:#783aff;" class="color-grad">Geometry Dash</span> Creator Team</strong></p>

<br>

<h1 align="center">Projects:</h1>

<fieldset>

    <p align="center"><span style="--col1:#d335d3;--col2:#3ab3ff;" class="color-grad">Warning: These Are Just Previews!</span></p>

    <br>

    <h1 align="center"><span style="--col1:#35d357;--col2:#d1ff3a;" class="color-grad">1. ToRMEnt</span></h1>

    <img align="center" src="projects/ToRMEnt.png" class="image-fit">

    <br>

    <br>

    <br>

    <h1 align="center"><span style="--col1:#35cbd3;--col2:#ff3aeb;" class="color-grad">2. Astral Vortex</span></h1>

    <img align="center" src="projects/AV.png" class="image-fit">

    <br>

    <br>

    <br>

    <h1 align="center"><span style="--col1:#35bbd3;--col2:#3aff75;" class="color-grad">3. Kureiji</span></h1>

    <img align="center" src="projects/Kureiji.png" class="image-fit">

    <br>

    <br>

    <br>
    
    <h1 align="center"><span style="--col1:#d33535;--col2:#efff3a;" class="color-grad">4. Flames Through Fire</span></h1>
    
    <video controls align="center" src="projects/FTF.mp4" height="312" class="image-fit">

</fieldset>

    <br>

    <br>

    <Footer/>

</Layout>

<style>
.color-grad {
    background: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

fieldset {
    background: linear-gradient(90deg, transparent 0%, #000 100%);
    border-radius: 12px;
    box-shadow: rgb(0, 81, 103) 0 0px 20px;
}

.image-fit {
        width: 100%;
        height: 312px;
        object-fit: contain;
    }

</style>