<footer> 
    <p class="small">This Site Was Made By <a href="https://github.com/GMDPLUTONIC">GMDPLUTONIC</a></p>
    <br>
    <p class="small">Visit The Github For This Site.</p> <a href="https://github.com/GMDPLUTONIC/AstroTeam" target="_blank"><img height="64" src="/github.svg">
</footer>

<style>
    footer {
        padding: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
    }

    footer p {
        margin: 0.5rem 0;
    }

    footer .small {
        font-size: 0.8rem;
        opacity: 0.7;
    }

    footer a {
        color: #aad5ff;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    @media (max-width: 800px) {
        footer .small {
            font-size: 0.7rem;
        }
    }
</style>
