---
import Header from "../components/Top-Bar.astro";
import FloatingStars from "../components/Bg.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/public/favicon.jpg" type="image/jpeg" />
		<title>AstroTeam</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<FloatingStars count="8"/>
		<Header />
		<slot />
	</body>
</html>

<style>
body {
	background-image: linear-gradient(to right,#00040e, #01041e);
	color: #0080ff;
	font-family: 'Lexend Deca', sans-serif;
}
</style>