---
import Header from "../components/Top-Bar.astro";
import FloatingStars from "../components/Bg.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<title>Astro Team</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
		<meta property="description" content="The Official Site For Astro Team" />
		<meta property="og:site_name" content="Astro Team">
		<meta property="og:image" content="https://astro-team-site.web.app/favicon.png">
		<meta property="og:title" content="Astro Team">
		<meta property="og:description" content="The Official Site For Astro Team" />
		<meta property="og:url" content="https://astro-team-site.web.app">
		<meta property="twitter:image" content="https://astro-team-site.web.app/favicon.png">
		<meta property="twitter:title" content="Astro Team">
		<meta property="twitter:card" content="app">
		<meta property="twitter:description" content="The Official Site For Astro Team">
	</head>
	<body>
		<FloatingStars count="8"/>
		<Header />
		<slot />
	</body>
</html>

<style>
body {
	background-image: linear-gradient(to right,#00040e, #01041e);
	color: #0080ff;
	font-family: 'Lexend Deca', sans-serif;
}
</style>